# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Outputs
out/

# Lightning / TensorBoard
lightning_logs/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Env files
.env

# keys
.envrc
.aider*
